<form [formGroup]="form" (submit)="submit()">
  <input
    type="text"
    class="border w-full py-2 px-4 mb-2"
    placeholder="Product name"
    formControlName="title"
    appFocus/>

    <!-- *ngIf="last_name.hasError('minlength')" -->
  <p *ngIf="title.errors?.['minlength'] && title.touched"
    class="text-red-600 font-medium mb-2">
    Please fill title field width min length. Now 
    {{ title.value.length }}
  </p>

  <button type="submit" class="py-2 px-4 bg-blue-600 text-white">Create</button>
</form>
